<template>
  <b-container class="pt-3">
    <h1>About</h1>
    <p>Hi and welcome to Money Buddy.</p>

<p>The idea was born at the 2019 Edition of Kingdom Code:Build Hackathon when all the participants were asked to come up with and submit ideas that could possibly be created over the 24 hours. Mimi Osei submitted the idea for this just for the fun of it and here are today, reading about. It’s just so amazing, what God can do with people who were strangers just moments before.</p>

<p>The idea was inspired by Christians Against Poverty’s (CAP) Mission to help people get out of debt and the scripture Proverbs 22: 6 ”Train up a child in the way he should go: and when he is old, he will not depart from it.”</p>

<p>Poverty can be devastating, but for some people, it’s all they know. Since childhood, this may be the only view of life they may have had. This is why this website is so important. It’s a resource to help break stereotypes and mental conditioning that comes with poverty and the subject of money. Most importantly, it opens up a narrative of God’s expectation of us as stewards of the provision HE has given us.</p>

<p>This website is designed to be used by parents/teachers as lesson ideas on money to share with children or for the children to direct their own learning through games.</p>

<p>We hope that God’s plan for us to be abundant and liberal will come to pass in all of our lives, starting with breaking the bonds of poverty from the grass roots.</p>

<p>“Whoever welcomes one of these little children in my name welcomes me; and whoever welcomes me does not welcome me but the one who sent me.” Mark 9:37</p>

  </b-container>
</template>
