<template>
  <b-container class="d-flex flex-column flex-grow-1 pt-3">
    <h2 class="text-center">Donation game</h2>

    <div class="d-flex flex-grow-1">
      <div id="budget" class="flex-fill d-flex flex-column align-items-center">
        <h4 class="font-weight-normal mt-auto mb-3">Own money</h4>

        <h2 class="display-4 mb-auto">
          <b-badge pill variant="success" ref="budget">£{{ currentBudget }}</b-badge>
        </h2>
      </div>
      <div id="donation" class="flex-fill d-flex flex-column align-items-center">
        <h4 class="font-weight-normal mt-auto mb-3">Donated</h4>
        <h2 class="display-4 mb-auto">
          <b-badge pill variant="success" ref="donation">£{{ currentDonation }}</b-badge>
        </h2>
      </div>
    </div>
    <div id="decision">
      <h4 v-if="currentResult">{{ currentResult }}</h4>
      <template v-else>
        <h4 class="mb-3">{{ currentEvent.description }}</h4>
        <h5
          v-for="(option, index) in currentEvent.options"
          :key="index"
          @click="chooseOption(option)"
          class="donate-option"
        >
          <b-badge pill variant="primary" class="mr-2">{{ String.fromCharCode(index + 65) }}</b-badge>
          {{ option.description}}
        </h5>
      </template>
    </div>

    <b-modal title="Welcome!" :visible="true" ok-only ok-title="Play!" ok-variant="success">
      <p
        class="my-4"
      >The goal of this game is to donate as much money as possible to charity. Make sure you earn money by making good decisions, so you can donate part of it.</p>
      <p class="my-4">On the left is your own money.</p>
      <p class="my-4">On the right, you see how much you have donated.</p>
      <p class="my-4">Good luck!</p>
    </b-modal>
  </b-container>
</template>

<script>
export default {
  data: () => ({
    currentBudget: 100,
    currentDonation: 0,
    currentResult: null,
    currentStep: 0,
    events: [
      {
        description: "The neighbour asks you to wash his car for £5.",
        options: [
          {
            description: "Wash the car",
            result: "You finish washing the car. You feel a bit tired now.",
            consequences: {
              budget: 5
            }
          },
          {
            description: "Ignore him",
            result: "The neighbour responds: 'Pffft, kids are lazy nowadays.'",
            consequences: {}
          },
          {
            description: "Respond that it will cost £10",
            result:
              "The neighbour agrees if you wash it really well. The car is shiny now!",
            consequences: {
              budget: 10
            }
          }
        ]
      },
      {
        description: "You see a candy in the store. The candy costs £1.",
        options: [
          {
            description: "Buy it",
            result: "You eat the candy. Yummy!",
            consequences: {
              budget: -1
            }
          },
          {
            description: "Continue walking",
            result: "You continue walking down the street.",
            consequences: {}
          },
          {
            description: "Steal it",
            result:
              "The shop owner catches you. A nearby police man gives you a £100 fine :(",
            consequences: {
              budget: -100
            }
          }
        ]
      },
      {
        description: "A girl asks you to donate for her church.",
        options: [
          {
            description: "Donate £5",
            result: "You donated the money. The girl is very thankful.",
            consequences: {
              budget: -5,
              donation: 5
            }
          },
          {
            description: "Donate £10",
            result: "You donated the money. The girl is very thankful.",
            consequences: {
              budget: -10,
              donation: 10
            }
          },
          {
            description: "Say 'shut up'",
            result: "The girl looks very sad.",
            consequences: {}
          }
        ]
      }
    ]
  }),
  computed: {
    currentEvent() {
      if (this.currentBudget < 0) {
        return {
          description: `You ran out of money :( Your final score was £${this.currentDonation}.`,
          options: []
        };
      }

      if (this.currentStep < this.events.length) {
        return this.events[this.currentStep];
      }

      return {
        description: `Game finished. Thanks for playing! Your final score was £${this.currentDonation}.`,
        options: []
      };
    }
  },
  methods: {
    chooseOption(option) {
      // Show the result for 3500ms
      this.currentResult = option.result;

      // Process the consequences
      Object.entries(option.consequences).forEach(([key, value]) => {
        if (key === "budget") {
          this.currentBudget += value;
          this.$refs.budget.className = "badge badge-success badge-pill shake"; // IMPROVE: neater way to add a class
        } else if (key === "donation") {
          this.currentDonation += value;
          this.$refs.donation.className =
            "badge badge-success badge-pill shake";
        }
      });

      // Move to the next step
      this.currentStep++;

      setTimeout(() => {
        this.currentResult = null;
        this.$refs.budget.className = "badge badge-success badge-pill"; // IMPROVE: neater way to remove a class
        this.$refs.donation.className = "badge badge-success badge-pill";
      }, 3500);
    }
  },
  beforeCreate() {
    document.documentElement.className = "donation-game"; // Give the <html> tag a 'donation-game' class
  },
  destroyed() {
    document.documentElement.className = "";
  }
};
</script>

<style lang="scss">
html.donation-game {
  // Alternative would be to use scoped css
  height: 100%;

  body,
  #app {
    height: 100%;
  }

  #app {
    display: flex;
    flex-direction: column;
  }
}

#budget {
  padding: 2rem;
  border: solid #ddd;
  border-width: 4px 2px 2px 4px;
}

#donation {
  padding: 2rem;
  border: solid #ddd;
  border-width: 4px 4px 2px 2px;
}

#decision {
  padding: 1rem;
  min-height: 11.5rem;
  border: solid #ddd;
  border-width: 2px 4px 4px;
  margin-bottom: 4rem;
}

.donate-option {
  cursor: pointer;

  &:hover {
    color: blue;
  }
}

.shake {
  animation: shake 0.7s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
</style>
