<template>
  <div>
    <div id="intro" class="d-flex flex-column justify-content-center text-center text-white">
      <div class="mb-5">
        <h2 class="mb-4" style="font-weight: 400;">Finance education resources</h2>
        <h1 class="mb-5 display-4">What does the Bible say about money?</h1>
        <h3 style="font-weight: 300;">Please make a choice</h3>
      </div>
      <div class="d-flex justify-content-around">
        <div>
          <b-button :to="{ name: 'parents' }" pill variant="outline-success" class="intro-button">I'm a parent</b-button>
        </div>
        <div>
          <b-button :to="{ name: 'kids' }" pill variant="outline-warning" class="intro-button">I'm a kid</b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  components: {
    // Navigation
  }
};
</script>

<style lang="scss">
#intro {
  height: 50vw;
  background-image: url(../assets/frontpage-background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-button {
  font-weight: bold;
  border-width: 2px;

  padding: 1rem 2rem;
  font-size: 2rem;
  line-height: 1.5;

  &:not(:hover) {
    background-color: #fff;
  }
}
</style>
