<template>
  <!-- <vue-friendly-iframe :src="srcFrame"></vue-friendly-iframe> -->
  <iframe style="height: 100%; width: 100%; border-top:0px" src="/game/index.html"></iframe>
</template>
<style lang="scss">
html.hunger-game {
  // Alternative would be to use scoped css
  height: 100%;

  body,
  #app {
    height: 100%;
  }

  #app {
    display: flex;
    flex-direction: column;
  }
}
</style>

<script>
// @ is an alias to /src

export default {
  data: function () {
    return {
      srcFrame: '/game.html',
    }
  },
  beforeCreate() {
    document.documentElement.className = "hunger-game"; // Give the <html> tag a 'donation-game' class
  },
}
</script>
