<template>
  <b-container class="pt-3">
    <h1>Investing</h1>

    <p>Investing is one of those things that the media seems to portray as a “Rich People Thing”. Shrouded in so much mystery, and with all the technical jargon that comes along with it, it can be overwhelming to know where to even begin.</p>

    <p>Let’s start with what the bible says about it. There are 2 scriptures that come to mind when it comes to investment:</p>

    <p>Give, and it will be given to you. A good measure, pressed down, shaken together and running over, will be poured into your lap. For with the measure you use, it will be measured to you. Luke 6:38</p>

    <p>I think this is a good scripture to explain how investments work. It could be described as something you put your resources towards because you believe that you will get something back. There is an expected return. So when you buy healthy food, the return on your investment is that your body is nourished and satisfied. Buying unhealthy food is also an investment that will reap a return of potential ill-health.</p>

    <p>It’s all about the decisions you make and weighing up the pros and cons or doing a cost-benefit analysis so see the true value of what you are doing.</p>

    <p>
      As the scripture says, the more you give, the more you get and Bill Gates is notorious for giving away his finances to help those who are disadvantaged.
      <a
        href="https://www.vox.com/future-perfect/2018/12/11/18129580/gates-donations-charity-billionaire-philanthropy"
        target="_blank"
        rel="nofollow"
      >A 2019 article</a> stated that Bill Gates was committed to giving away as much as money as possible through the foundation that he built with his wife Melinda. With this money they hope to invest and ideas that will help to solve some of the world's largest problems in sanitation.
    </p>

    <p>
      14 “For it will be like a man going on a journey, who called his servants[a] and entrusted to them his property.
      <br />15 To one he gave five talents,[b] to another two, to another one, to each according to his ability. Then he went away.
      <br />16 He who had received the five talents went at once and traded with them, and he made five talents more.
      <br />17 So also he who had the two talents made two talents more.
      <br />18 But he who had received the one talent went and dug in the ground and hid his master's money.
      <br />19 Now after a long time the master of those servants came and settled accounts with them.
      <br />20 And he who had received the five talents came forward, bringing five talents more, saying, ‘Master, you delivered to me five talents; here, I have made five talents more.’
      <br />21 His master said to him, ‘Well done, good and faithful servant.[c] You have been faithful over a little; I will set you over much. Enter into the joy of your master.’
      <br />22 And he also who had the two talents came forward, saying, ‘Master, you delivered to me two talents; here, I have made two talents more.’
      <br />23 His master said to him, ‘Well done, good and faithful servant. You have been faithful over a little; I will set you over much. Enter into the joy of your master.’
      <br />24 He also who had received the one talent came forward, saying, ‘Master, I knew you to be a hard man, reaping where you did not sow, and gathering where you scattered no seed,
      <br />25 so I was afraid, and I went and hid your talent in the ground. Here, you have what is yours.’
      <br />26 But his master answered him, ‘You wicked and slothful servant! You knew that I reap where I have not sown and gather where I scattered no seed?
      <br />27 Then you ought to have invested my money with the bankers, and at my coming I should have received what was my own with interest.
      <br />28 So take the talent from him and give it to him who has the ten talents. 29 For to everyone who has will more be given, and he will have an abundance. But from the one who has not, even what he has will be taken away.
    </p>

    <p>This passage might seem very long but there are many takeaway lessons that we can get from this piece of scripture.</p>

    <p>Warren Buffet is a well-known philanthropist and investor who has made it his business to understand how to make good investment decisions. In the parable above Jesus talks about a master who leaves some resources to his servants and ask them to look after it. Two of them knew what to do with their resources and manage to double it by the time the master came back. One of them was scared to do anything with it and hid it until the master came back it's what he was given back to the master.</p>

    <p>In The Story one of the things that strikes me as interesting is the fact that the master says that the servants should have at least put it to gain interest on the money.</p>

    <p>I believe that the scripture is telling us that God is our provider and give us resources to look after and that he is going to ask us to give account of what we did with what he gave to us. it's up to us to learn about what God expects from us when it comes to the resources he gives us.</p>
  </b-container>
</template>
