<template>
  <b-container class="pt-3">
    <h1 class="mb-4">Games for kids</h1>
    <div>
      <b-card-group deck>
        <b-card
          title="Hunger games"
          img-src="burger.png"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
        <b-card-text>Handling your money can be really stressful 😬 Can you handle it? </b-card-text>
           <b-button variant="success" size="lg" :to="{ name: 'games.hunger' }">Play for free</b-button>
        </b-card>
        <b-card
          title="Donation game"
          img-src="money.jpg"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>This awesome game let's you make the most generous person in the world. If played well 😉</b-card-text>
          <b-button variant="success" size="lg" :to="{ name: 'games.donate' }">Play for free</b-button>
        </b-card>
      </b-card-group>
    </div>
    <!-- <p class="mb-4">
      <b-button variant="success" size="lg">Hunger game</b-button>
    </p>

    <p>
      <b-button variant="success" size="lg" :to="{ name: 'games.donate' }">Donation game</b-button>
    </p>-->
  </b-container>
</template>
