<template>
  <b-container class="pt-3">
    <h1>For parents</h1>

    <p>
      <b-card
        title="Invest"
        img-src="invest.jpg"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
      <b-card-text>Investing in this project to help educate our children about the concept of money</b-card-text>
          <b-button variant="success" size="lg" :to="{ name: 'parents.investing' }">Info about investing</b-button>
      </b-card>
    </p>
  </b-container>
</template>
