<template>

    <body>
      <div class="container">
        <div style="display: flex; flex-direction: row;">
            <div id="info-bar" class="mr-4">
                <div>
                    <h4>Balance</h4>
                    <div id="banknote"><h3 id="balance">$500</h3></div>
                </div>
                <div>
                    <h4>Happiness</h4>
                    <section class="content">
                        <div class="box gauge--1">
                            <div class="mask">
                                <div class="semi-circle"></div>
                                <div class="semi-circle--mask"></div>
                            </div>
                        </div>
                    </section>  
                </div>
            </div>
            <canvas id="myCanvas"  style="flex:5" class="mt-5"></canvas>
        </div>
        <div id="message" class="alert alert-success mt-3 d-none" role="alert">
            <p id="responseMsg">Good choice!</p>
        </div>
        <div id="controls" style="display: flex; flex-direction: row; justify-content: flex-end;">
            <h4 class="align-self-center">Choose your food</h4>
            <button type="button" class="btn-success control-item" onclick="buyFood(1)">
                <i class="material-icons">fastfood</i>
                <div class="ml-2">
                    <div>score</div>
                    <div>$1.99</div>
                </div>
            </button>
            <button type="button" class="btn-success control-item" onclick="buyFood(2)">
                <i class="material-icons">local_pizza</i>
                <div class="ml-2">
                    <div>score</div>
                    <div>$1.99</div>
                </div>
            </button>
            <button type="button" class="btn-success control-item" onclick="buyFood(3)">
                <i class="material-icons">restaurant</i>
                <div class="ml-2">
                    <div>score</div>
                    <div>$1.99</div>
                </div>
            </button>
           
        </div>
    
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 </body>
</template>

<script>

setInterval(function() {
  var newVal = Math.floor((Math.random() * 179) + 1);

  $('.gauge--1 .semi-circle--mask').attr({
    style: '-webkit-transform: rotate(' + newVal + 'deg);' +
    '-moz-transform: rotate(' + newVal + 'deg);' +
    'transform: rotate(' + newVal + 'deg);'
   });				
}, 1000);
            
            //money object constructor class
            class money {
                constructor(myCanvas, rail, value, state) {
                    this.name = "income"
                    this.value = value
                    this.xpos = myCanvas.width
                    this.ypos = rail.height
                    this.state = state
                    this.active = true
                }
            }
    
            (function init() {
                var myCanvas = document.getElementById('myCanvas')
                var ctx = myCanvas.getContext('2d')
                var game = {
                    size: 40,
                    xpos: 400,
                    balance: 500,
                    //spawnInterval between 1 and 3 seconds
                    spawnInterval: 3
                }
     
                myCanvas.setAttribute('width', game.size * 16)
                myCanvas.setAttribute('height', game.size * 9)
    
                var rail = {
                    height: myCanvas.height / 3,
                    thickness: 2
                }
    
                var balance = 10
                var costs = [new money(myCanvas, rail, 5 , false)]
    
                window.setInterval(
                    function () {
                        ctx.clearRect(0, 0, myCanvas.width, myCanvas.height)
    
                        gameLoop(costs, myCanvas, rail, game)
                        draw(ctx, game.xpos, costs, rail)
                        game.xpos -= 2
                    },
                    1000/15
                )
            })()
    
            //game loop
            function gameLoop(costs, myCanvas, rail, game) {
                costs.forEach(function(e){
                    if (e.xpos < myCanvas.width / game.spawnInterval){
                        // myCanvas.style.background="red"
                        
                       
                        // costs.shift()
                        
                        if (e.active) {
                            let rndCost = Math.floor(Math.random() * rail.height)+10;
                            let rndState = Math.random() >= 0.5;
                            console.log(`cost: ${rndCost} and state: ${rndState}`);
                            costs.push(new money(myCanvas,rail, rndCost, rndState))
                            game.spawnInterval = Math.floor(Math.random() * 3) +1.5;
                            e.active = false;
                            game.balance = rndState ? game.balance - rndCost : game.balance + rndCost;
                            document.getElementById("balance").innerHTML="$"+game.balance;

                        }
                    }
                    e.xpos-=10
                })
                // costs += new money(myCanvas, rail)
                return costs;
            }
    
            //rendering
            function draw(ctx, xpos, costs, rail) {
                costs.forEach(function (e) {
                    let height= e.value;
                    ctx.fillStyle =  e.state ? "green" : "red";
                    ctx.fillRect(e.xpos, e.state ? e.ypos - height : e.ypos, 30, height)
                    ctx.fillStyle = "black"
                })
    
                ctx.fillRect(myCanvas.width / 3, 0, 4, myCanvas.height)
                ctx.fillRect(0, rail.height, myCanvas.width, rail.thickness)
    
                //gradient
                var grd = ctx.createLinearGradient(0, 0, myCanvas.width, 0);
                grd.addColorStop(0.500, 'rgba(255, 255, 255, 0.000)');
                grd.addColorStop(1.000, 'rgba(255, 255, 255, 1.000)');
    
                grd.addColorStop(1, "white");
                ctx.fillStyle = grd;
                ctx.fillRect(0, 0, myCanvas.width, myCanvas.height);
                ctx.fillStyle = "black"
            }
    
            function buyFood(choice){
                let res;
                switch(choice){
                    case 1:
                        res = "Not so healty, but cheap. I hope for you this doesn't backfire"
                        break;
                    case 2: 
                        res = "Solid, your very avarage"
                        break;
                    case 3: 
                        res = "Amazing! You're so  healty! Keep it up!"
                        break;
                }
                document.getElementById("responseMsg").innerHTML=res;
                document.getElementById("message").classList.remove("d-none")
                setTimeout(function() {
                    document.getElementById("message").classList.add("d-none")
                }, 3000);
            }
  
</script>

<style lang="scss">
        #myCanvas {
            /* background: green */
        }
        #info-bar{
            flex:1; display: flex; flex-direction: column;  justify-content: space-evenly;
        }

        .mask {
  position: relative;
  overflow: hidden;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  margin-top: 1.25rem;
}

.semi-circle {
  position: relative;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  background: linear-gradient(to right, #c0392b 0%, #f1c40f 50%, #1abc9c 100%);
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}
.semi-circle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: block;
  width: 8.75rem;
  height: 4.375rem;
  margin-left: -4.375rem;
  background: #fff;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}

.semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5rem;
  height: 12.5rem;
  background: transparent;
  transform: rotate(120deg) translate3d(0, 0, 0);
  transform-origin: center center;
  backface-visibility: hidden;
  transition: all .3s ease-in-out;
}
.semi-circle--mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 2;
  display: block;
  width: 12.625rem;
  height: 6.375rem;
  margin: -1px 0 0 -1px;
  background: #f2f2f2;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}

.gauge--1 .semi-circle {
  background: #1abc9c;
}

#banknote {
    height: 50px; 
    width: 100px; 
    border-width: 3px; 
    border-color: black; 
    border-style:solid; 
    height: 90%; 
    width:80%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.control-item{
    margin-left: 3rem;
    border-radius: 15%;
    display: flex;
    flex-direction: row !important;
    padding:1rem;
    align-items: center;
}




</style>
