<template>
  <div id="app">
    <div>
      <b-navbar toggleable="lg" variant="light">
        <b-navbar-brand :to="{ name: 'home' }">MoneyBuddy</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item :to="{ name: 'parents' }">For parents</b-nav-item>
            <b-nav-item :to="{ name: 'kids' }">For kids</b-nav-item>
            <b-nav-item :to="{ name: 'about' }">About</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>

    <router-view />
  </div>
</template>

<style lang="scss">
</style>
